language: node_js

node_js:
  - 'stable'

cache:
  directories:
    - node_modules

before_install:
  - npm update

install:
  - npm install

script:
  - npm run pretest
  - npm run format
  - npm test
