:root {
  --sizes-small: 1rem;
  --sizes-medium: 2rem;
  --sizes-large: 3rem;
  --sizes-0\.5: 2px;
  --sizes-1\.0-foo: 1rem;
  --sizes-1\.0-2\.4: 2rem;
  --colors-red-50: #ff3232;
  --colors-red-500: #ff0000;
  --colors-red-900: #d70000
}

.container {
  --sizes-medium: 1.5rem;
  --sizes-container: 2rem
}
